$body-bg: #f8fafc;
 
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
 
// Colors
$azulclaro: #3490dc;
$negro: #0000;
$blanco: #fff;
$rosa: #f66D9b;
$rojo: #e3342f;